---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on </p>
  <Social platform="GitHub" username="codedotgs" />
  <Social platform="X" username="codedotgs" />
</footer>
